section#lightbox{
  .explorer{

    .recent-projects, .browse{

      .msg{
        padding:0;
        margin:0;
        color:#ABABAB;
        font-family:$f-norm;
        font-size:1rem;
        font-style:italic;
      }
    }

    .recent-projects{
      width:30%;
    }

    .browse{
      width:70%;
    }

  }
}
