$w-recent-project-lbl: 2rem;
$h-recent-project-wrap: 4rem;

.box-col.recent-projects{

  .filter{
    display:none;height:$h-recent-project-wrap;

    > div{
      width:100%;height:50%;position:relative;@include borderbox();

      .bar{
        position:absolute;left:0;top:0;bottom:0;right:$w-recent-project-lbl;margin:auto;height:100%;

        .icon-btn{
          width:$w-recent-project-lbl;height:100%;position:absolute;left:0;top:0;bottom:0;margin:auto;cursor:pointer;
        }

        input.search-recent-project{
          display:inline-block;@include borderbox();width:100%;height:100%;line-height:0.8rem;padding:0 .5rem;font-size:.8rem;background-color:transparent;border:none;border-left:solid $w-recent-project-lbl transparent;outline:none;color:#8C8C8C;
        }

        .order-by-btn{

        }

        .asc-desc-btn{

        }
      }

      .reset-btn{
        width:$w-recent-project-lbl;position:absolute;right:0;top:0;bottom:0;height:100%;cursor:pointer;
      }
    }

    > div.search{
      background-color:#fff;border:solid 1px #ccc;border-left:none;border-right:none;
    }

    > div.order{

    }
  }

  .scroll{
    .recent-project{
      position:relative;display:block;height:$h-recent-project-wrap;color:#929292;border:solid 1px #ccc;

      .lbl{
        cursor:pointer;position:absolute;left:0;top:0;bottom:0;width:$w-recent-project-lbl;line-height:($h-recent-project-wrap / 2);@include borderbox();padding:5px;background-color:rgba(0,0,0,.05);text-align:center;border:solid 1px #9E9E9E;border-bottom:none;border-top:none;@include noselect();

        .num{
          position:absolute;bottom:0;left:0;right:0;height:50%;@include borderbox();font-family:$f-code;font-size:.8rem;
        }
        .check{
          position:absolute;top:0;left:0;right:0;height:50%;@include borderbox();padding:6px;

          &:before{
            content:"";display:block;width:100%;height:100%;@include borderbox();border:solid 1px #9E9E9E;box-shadow:inset 1px -2px 5px rgba(0,0,0,.07);background-color:#E4E4E4;border-radius:0px;
          }
          &:after{
            position:absolute;left:0;top:0;text-align:center;display:block;width:100%;height:100%;line-height:($h-recent-project-wrap / 2);font-size:($h-recent-project-wrap / 4);
          }
        }
      }
      .lbl:hover{
        .num{

        }
        .check{
          &:before{
            box-shadow: inset -2px 3px 5px rgba(0, 0, 0, 0.1);background-color:rgba(0, 0, 0, 0.03);
          }
          &:after{
            color:#fff;
          }
        }
      }
      .pane{
        position:absolute;left:$w-recent-project-lbl;right:0;top:0;bottom:0;

        .title{
          position:absolute;left:0;top:0;width:100%;height:50%;cursor:pointer;white-space:nowrap;

          .unique-name{
            @include borderbox();@include transition(color .3s linear);white-space:nowrap;width:100%;height:100%;line-height:($h-recent-project-wrap / 2);overflow:hidden;text-align:right;border-right:solid ($h-recent-project-wrap / 2) transparent;
          }
          .open-btn{
            width:($h-recent-project-wrap / 2);height:100%;position:absolute;right:0;top:0;text-align:right;

            svg{
              @include transition(background-color .3s linear);width:80%;height:80%;border-radius:5px;display:inline-block;position:absolute;right:0;top:0;bottom:0;margin:auto;

              path{
                fill:#929292;@include transition(fill .3s linear);
              }
            }
          }
        }
        .title:hover{
          .unique-name{
            color:#7f1171;
          }
          .open-btn{
            svg{
              background-color:#7f1171;

              path{
                fill:#fff;
              }
            }
          }
        }
        .data{
          position:absolute;left:0;bottom:0;height:50%;


        }
      }
    }
    .recent-project.selected{
      .lbl{
        background-color:rgba(0, 0, 0, 0.15);

        .num{
          color:#fff;
        }
        .check{
          &:before{
            border:solid 1px #BFBFBF;
          }
          &:after{
            content:"X";
          }
        }
      }
    }
    .recent-project:not(:last-child){
      border-bottom:none;
    }
    .recent-project:nth-child(even){
      background-color:#EFEFEF;
    }
  }
}
section#lightbox div.box .box-content .box-col.recent-projects.show-filters{
  .filter{
    display:block;
  }
  .scroll{
    top:($h-recent-project-wrap + $h-lightbox-col-title);
  }
}
